body{
  /* background:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)); */
  background-image: url(https://images.unsplash.com/photo-1709238811517-78ec0ad8406c?q=80&w=2950&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  
}